<section class="row align-items-center">
    <div class="col text-center">
        <img class="img1" src="../../../../assets/images/medecin.png" alt="">
    </div>
    <div class="col text-center">
        <p class="para-1">Le RDV médical</p>
        <p class="para-1">L'annuaire Médical qui assure la prise de rendez-vous</p>
    </div>
</section>
<div class="text-center mt-5 mb-5">
    <img class="img-protege" src="../../../../assets/images/proteger.png" alt="">
</div>

<div class="text-center mt-5 mb-5">
    <img class="img-service" src="../../../../assets/images/affiche-site-web.jpg" alt="">
</div>


