<!-- <app-nav-medecin></app-nav-medecin>
<div class="container mt-5 mb-5 css-table">


    <table class="table table-sm table-success table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Adresse</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>
            </tr>

            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                <td><a routerLink="profile">Rendez Vous</a></td>

            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer> -->



<app-nav-medecin></app-nav-medecin>

<div class="container mt-5">

  <h3 class="text-success mb-4">
    Liste de mes patients
  </h3>

  <table class="table table-hover table-bordered">

    <thead class="table-success">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let p of patients || []">

        <td>{{ p?.nom }}</td>
        <td>{{ p?.prenom }}</td>
        <td>{{ p?.email }}</td>
        <td>{{ p?.tel }}</td>

      </tr>

      <tr *ngIf="patients.length === 0">
        <td colspan="4" class="text-center">
          Aucun patient trouvé
        </td>
      </tr>

    </tbody>

  </table>

</div>

<app-footer></app-footer>