<app-nav-patient></app-nav-patient>
<div class="container mt-5 mb-5 css-table">


    <table class="table table-sm table-success table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Medecin</th>
                <th scope="col">Telephone</th>
                <th scope="col">Adresse</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                
            </tr>

            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
               

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
               

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
               

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
              

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
      

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
               

            </tr>
            <tr>
                <th> jjjjjjjj</th>
                <td>kkkkkkkkk</td>
                <td>kkkkkkkkk</td>
                <td>jjjjjjjj</td>
                <td>gggggggggggggg</td>
                <td>hhhhhhhhhhhhhh</td>
                

            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>